<p>You searched for <strong><%= @search%></strong></p>
<br><br><br>
<ul class="list-group">
<%@results.each do |law_office|%>
    <li class="list-group-item">
     <%= link_to law_office.name, law_office %>
        <br><%=highlight(law_office.street_address,@search)%>, <%=highlight(law_office.zip,@search)%></br>
        <br><%= highlight(law_office.city,@search)%>, <%=highlight(law_office.state,@search)%></br>
       
    </li>
    
    
  <% end%>

</ul>


