
<b>
Law Office
</b>
  
<br>  
<br>
name: <%= @law_office.name %>
<br>

<br>
phone: <%= @law_office.phone_number %>
<br>

<br>
street_address: <%= @law_office.street_address %>
<br>

<br>
city: <%= @law_office.city %>
<br>

<br>
state: <%= @law_office.state %>
<br>

<br> 
zip: <%= @law_office.zip %>
<br>

<br>
website_link: <%= @law_office.website_link %>
<br>

<!-- should we add the practice areas? >



















<ul class="media-list">
  <li class="media">
    <div class="media-left">
      <a href="#">
        <img class="media-object" src="..." alt="...">
      </a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Media heading</h4>
      ...
    </div>
  </li>
</ul>