<h1>Law Office</h1>


<!-- should we add the practice areas? -->

<!-- comment section

<h1>Comments</h1>
< @comment.comment %>
<ul class="list-group" >
  <li class="list-group-item"><comment.comment %></li>
-->


<div class="media">
  <div class="media-left media-middle">
    <a href="#"><img class="media-object" src="https://media-cdn.tripadvisor.com/media/photo-s/0e/9a/e3/1d/freedom-tower.jpg" alt="New York City">
    </a>
  </div>
  <div class="media-body">
    <h4 class="media-heading">
       <div class="row">
        <div class="col-md-3 col-md-offset-3"><%= @law_office.name %></div></h4>
        </div>
    <p>
        <div class="row">
        <div class="col-md-3 col-md-offset-3"> Name: <%= @law_office.name %></div>
        </div>
        
        <br>
        
        <div class="row">
        <div class="col-md-3 col-md-offset-3"> Phone: <%= @law_office.phone_number %></div>
        </div>
       
        <br>
        
        <div class="row"></div>
        <div class="col-md-3 col-md-offset-3">Street Address: <%= @law_office.street_address %></div>
        </div>
        <br>
        
        <div class="row">
        <div class="col-md-3 col-md-offset-3">City: <%= @law_office.city %></div>
        </div>
        
        <br>
        <div class="row">
        <div class="col-md-3 col-md-offset-3">State: <%= @law_office.state %></div>
        </div>
        
        <br>
        <div class="row">
        <div class="col-md-3 col-md-offset-3">Zip: <%= @law_office.zip %></div>
        </div>
        
        <br>
        <div class="row">
        <div class="col-md-3 col-md-offset-3">Website Link: <%= @law_office.website_link %></div>
        </div>
    </p>
    <!-- here will show info of the law office -->
  </div>
</div>
