<div class="row">
  <div class="col-md-7 col-md-offset-3">
    <h1>Law Office</h1>
    <div class="media">
      <div class="media-left">
        <a href="#">
          <img class="media-object" src="https://media-cdn.tripadvisor.com/media/photo-s/0e/9a/e3/1d/freedom-tower.jpg" alt="New York City">
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">
          <%= @law_office.name %>
        </h4>
        <p>
          <br>
          Name: <%= @law_office.name %>
            
          <br><br>
            
          Phone: <%= @law_office.phone_number %>

          <br><br>

          Street Address: <%= @law_office.street_address %>

          <br><br>
          
          City: <%= @law_office.city %>

          <br><br>
          
          State: <%= @law_office.state %>

          <br><br>
            
          Zip: <%= @law_office.zip %>

          <br><br>
          
          Website Link: <%= link_to @law_office.website_link, @law_office.website_link, target: :blank %>
  
  
        </p>
        <!-- here will show info of the law office -->
      </div>
    </div>
    <h3>
      <%=@law_office.ratings.count %> Ratings/Average Rating: <%= @avg_rating %>
      <%= render(partial: 'ratings/show_stars', locals: { rating: @avg_rating }) %>
    </h3>
  
    <h2>Comments</h2>
   
      
   
  

    <% ratings= @law_office.ratings %>
      <div class="comments">
        <%ratings.each do |rating| %>
           <div>
             <%= rating.comments %>
             <div class="stars"> 
               <% rating.stars.times do %>
                 <span class="glyphicon glyphicon-star" aria-hidden= "true"></span>
               <% end %>
               <% (5 - rating.stars).times do %>
                 <span class= "glyphicon glyphicon-star-empty" aria-hidden= "true"></span>
               <% end %>
             </div>
           </div>
        <% end %>
      </div>
      <% if user_signed_in? %>
        <%= form_for @rating, url: ratings_path do |f| %>
          <%= f.hidden_field :law_office_id, value: @law_office.id %>
          <%= f.label :stars, 'Rating: ' %>
          <div class="star-rating">
            <%= f.hidden_field :stars %>
            <span data-stars="5">☆</span>
            <span data-stars="4">☆</span>
            <span data-stars="3">☆</span>
            <span data-stars="2">☆</span>
            <span data-stars="1">☆</span>
          </div>
          <div class="form_group">
            <%= f.text_field :comments, placeholder: 'Comments', class: 'form-control' %>
          </div>
           <%= f.submit 'Create' %>
        <% end %>
      <% end %>

  </div>
  
</div>


